---
import { gradeColor, gradeLabel } from '../lib/grades';
interface Props { grade: string; class?: string; }
const { grade, class: extra } = Astro.props;
---
<span class:list={['chip', extra]} style={`background:${gradeColor(grade)}`} title={gradeLabel(grade)}>
  {grade}
</span>
